{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% block extra_title %}
    Shopping Bag
{% endblock %}

{% block page_header %}
    <div class="container-fluid page-header-container mb-5 text-center">
        <div class="flex-row">
            <div class="col-12 col-md-8 offset-md-2 page-heading text-uppercase p-3">
                <h2 class="heading-font mb-3">Shopping Bag</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row bag-container">
        <!-- Only show bag table if items in the bag -->
        {% if bag_items %}
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 bag-table-container table-responsive align-items-center justify-content-center">
                <table class="bag-table text-center">
                    <thead class="bag-thead small-heading heading-font">
                        <tr>
                            <th scope="col">Prints</th>
                            <th scope="col">Size</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody class="bag-tbody paragraph-font">
                        <!-- Loop through the bag items -->
                        {% for item in bag_items %}
                            <tr>
                                <td class="p-2">
                                    <img class="img-fluid" src="{{ item.prints.image.url }}"><br>
                                    <p>{{ item.prints.friendly_name }}</p>
                                </td>
                                <td>
                                    <p>{% if item.prints.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                </td>
                                <td class="py-2">
                                    <p>
                                        <!-- display correct price for item size -->
                                        {% if item.size == 'a4' %}
                                            £{{ item.prints.a4_price }}
                                        {% else %}
                                            £{{ item.prints.a5_price }}
                                        {% endif %}
                                    </p>
                                </td>
                                <td class="py-2">
                                    <!-- Update bag form -->
                                    <form class="form update-quantity" method="POST" action="{% url 'adjust_bag' item.prints_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-dark btn-sm rounded-0" 
                                                        data-item_id="{{ item.prints_id }}" id="decrement-qty_{{ item.prints_id }}">
                                                        <span><i class="fas fa-minus fa-sm"></i></span>
                                                    </button>
                                                </div>
                                                <input type="number" class="form-control qty_input"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="20"
                                                    data-prints_id="{{ item.prints_id }}" id="id_qty_{{ item.prints_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-dark btn-sm rounded-0" 
                                                        data-item_id="{{ item.prints_id }}" id="increment-qty_{{ item.prints_id }}">
                                                        <span><i class="fas fa-plus fa-sm"></i></span>
                                                    </button>
                                                </div>
                                                {% if item.prints.has_sizes %}
                                                    <input type="hidden" name="selected_size" value="{{ item.size }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-dark float-right"><small>Update</small></a>
                                    <a class="remove-link text-danger float-left" 
                                        id="remove_{{ item.prints_id }}" data-selected_size="{{ item.size }}">
                                        <small>Remove</small>
                                    </a>
                                </td>
                                <td class="py-2">
                                    <p>
                                        <!-- Only display subtotal for selected size -->
                                        {% if item.size == 'a4' %}
                                            £{{ item.prints.a4_price | calc_subtotal:item.quantity }}
                                        {% else %}
                                            £{{ item.prints.a5_price | calc_subtotal:item.quantity }}
                                        {% endif %}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="mt-3">
                            <!-- Checkout buttons -->
                            <td colspan="5" class="text-right">
                                <h4 class="heading-font">Sub Total: £{{ total|floatformat:2 }}</h4>
                                <h5 class="heading-font">Delivery: {{ delivery|floatformat:2 }}</h5>
                                <h4 class="heading-font">Total: £{{ grand_total|floatformat:2 }}</h4>
                                {% if free_delivery_delta > 0 %}
                                    <p>Spend £{{ free_delivery_delta }} more for free delivery.</p>
                                {% endif %}
                            </td>
                        </tr>
                        <!-- Checkout buttons -->
                        <tr class="mt-3">
                            <td colspan="5" class="text-right">
                                <a href="{% url 'all_prints' %}" class="btn btn-dark btn-lg">
                                    <span>
                                        <i class="fa-solid fa-left-long"></i>
                                    </span>
                                    <span>Back to Prints</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-success btn-lg">
                                    <span>
                                        <i class="fa-regular fa-credit-card"></i>
                                    </span>
                                    <span>Checkout</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% else %}
            <!-- Show if bag is empty -->
            <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 empty-bag-container text-center">
                <h4 class="heading-font mb-3">Your Bag is empty.</h4>
                <p class="paragraph-font link-text">Keep shopping  <span><a href="{% url 'all_prints' %}">HERE</a></span>.</p>
            </div>
        {% endif %}        
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/quantity_input_script.html' %}
    <!-- Update and remove functionality -->
    <script type="text/javascript">
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-quantity');
            form.submit();
            console.log("success")
        });

        $('.remove-link').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var printsId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('selected_size');
            var url = `/bag/remove/${printsId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'selected_size': size};

            $.post(url, data)
            .done(function() {
                location.reload();
            })
        });
    </script>
{% endblock %}