{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container page-header-container mb-5">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading text-uppercase p-3">
                <h2 class="heading-font mb-3">Shopping Bag</h2>
                <h3 class="heading-font"></h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {% %}
            <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 bag-table-container table-responsive table-container justify-content-center">
                <table class="bag-table">
                    <thead class="bag-thead heading-font">
                        <tr>
                            <th>Print</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="bag-tbody paragraph-font">
                        
                    </tbody>
                </table>
            </div>
        {% else %}
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 empty-bag-container table-responsive table-container justify-content-center">
                <h4 class="header-container">Your Bag is empty.</h4>
                <p class="paragraph-font">Keep shopping <span><a href="{% url 'all_prints' %}">HERE</a></span>.</p>
            </div>
        {% endif %}
    </div>

{% endblock %}