<!-- Update bag form -->
<form class="form update-quantity" method="POST" action="{% url 'adjust_bag' item.prints_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-dark btn-sm rounded-0" 
                    data-item_id="{{ item.prints_id }}" id="decrement-qty_{{ item.prints_id }}">
                    <span><i class="fas fa-minus fa-sm"></i></span>
                </button>
            </div>
            <input type="number" class="form-control qty_input"
                name="quantity" value="{{ item.quantity }}" min="1" max="20"
                data-prints_id="{{ item.prints_id }}" id="id_qty_{{ item.prints_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn btn-dark btn-sm rounded-0" 
                    data-item_id="{{ item.prints_id }}" id="increment-qty_{{ item.prints_id }}">
                    <span><i class="fas fa-plus fa-sm"></i></span>
                </button>
            </div>
            {% if item.prints.has_sizes %}
                <input type="hidden" name="selected_size" value="{{ item.size }}">
            {% endif %}
        </div>
    </div>
</form>
<a class="update-link text-dark float-right"><small>Update</small></a>
<a class="remove-link text-danger float-left" 
    id="remove_{{ item.prints_id }}" data-selected_size="{{ item.size }}">
    <small>Remove</small>
</a>