/* Local stylesheet for homepage */
body {
    background-color: #f8f9fa;
}

.carousel-item {
    background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	width: 100%;
    height: 100%;
}

.main-container {
    margin-top: 2rem;
    overflow: hidden;
    padding: 0 !important;
}

.carousel-container {
    margin-top: 3vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.home-img {
    margin-top: 8vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
}

/* Media queries */
@media screen and (max-width: 992px) {

    .carousel-indicators {
        bottom: 10rem !important;
    }
}