{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container page-header-container mb-5">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading text-uppercase p-3">
                <h2 class="heading-font mb-3">Profile</h2>
                <h3 class="heading-font"></h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="row no-gutters">
        <div class="col-12 col-lg-6">
            <h4 class="heading-font ml-3">Delivery Info:</h4>
            <form class="m-2 paragraph-font ml-3 mr-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-secondary float-right" type="submit">Update</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <h4 class="heading-font">Order History:</h4>
            {{ orders}}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
