{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% block extra_title %}
    Checkout
{% endblock %}

{% block extra_css %}
    <!-- Load local stylesheet -->
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container-fluid page-header-container mb-2 justify-content-center">
        <div class="flex-row d-flex">
            <div class="col-12 col-md-6 offset-md-3 page-heading text-uppercase text-center p-3">
                <h2 class="heading-font mb-2">Checkout</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="flex-row d-flex align-items-center checkout-container">
        <div class="col-12 col-lg-6 order-lg-last mb-5 d-flex">
            <div class="flex-row d-flex">
                <div class="flex-column d-flex col-10 col-offset-1 ">
                    <p class="text-muted heading-font small-heading">Order Summary ({{ product_count }})</p>            
                    <div class="row">
                        <div class="flex-column d-flex">
                            <table class="checkout-table">
                                <thead class="heading-font small-heading">
                                    <tr>
                                        <th scope="col">Print</th>
                                        <th scope="col">Details</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody class="paragraph-font small-heading">
                                    <!-- Loop through and display items in the bag -->
                                    {% for item in bag_items %}
                                        <tr>
                                            <td class="checkout-table-data">
                                                <a href="{% url 'print_info' item.prints.id %}">
                                                    <!-- If no image, display alternative -->
                                                    {% if item.prints.image %}
                                                        <img class="w-100" src="{{ item.prints.image.url }}" alt="{{ prints.friendly_name }}">
                                                    {% else %}
                                                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ prints.friendly_name }}">
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td class="checkout-table-data">
                                                <p>
                                                    {{ item.prints.friendly_name }}<br>
                                                    {% if item.prints.has_sizes %}Size: {{ item.size|upper }}{% else %}N/A{% endif %}<br>
                                                    Qty: {{ item.quantity }}
                                                </p>
                                                </td>
                                            <td class="checkout-table-data">
                                                <p>
                                                    <!-- Only display subtotal for selected size -->
                                                    {% if item.size == 'a4' %}
                                                        £{{ item.prints.a4_price | calc_subtotal:item.quantity }}
                                                    {% else %}
                                                        £{{ item.prints.a5_price | calc_subtotal:item.quantity }}
                                                    {% endif %}
                                                </p>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <!-- Bag total -->
                                        <td colspan="3">
                                            <p>Total: £{{ total | floatformat:2 }}</p><br>
                                            <p>Delivery: £{{ delivery | floatformat:2 }}</p><br>
                                            <p><strong>Grand Total: £{{ grand_total | floatformat:2 }}</strong></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-10 offset-1">
                    <!-- Customer details form -->
                    <form action="{% url 'checkout' %}" method="POST" id="payment-form" class="paragraph-font">
                        {% csrf_token %}
                        <fieldset class="mb-3">
                            <legend class="heading-font fieldset-label">Your Details:</legend>
                            {{ order_form.full_name | as_crispy_field }}
                            {{ order_form.email | as_crispy_field }}
                            <hr>
                            {{ order_form.phone_number | as_crispy_field }}
                            {{ order_form.street_address1 | as_crispy_field }}
                            {{ order_form.street_address2 | as_crispy_field }}
                            {{ order_form.city_or_town | as_crispy_field }}
                            {{ order_form.county | as_crispy_field }}
                            {{ order_form.postcode | as_crispy_field }}
                            {{ order_form.country | as_crispy_field }} 
                            <div class="form-check float-right form-check-inline">
                                <!-- Allow customer to save to profile if singed in -->
                                {% if user.is_authenticated %}
                                    <label class="form-check-label" for="id-save-info">
                                        <span class="paragraph-font mr-1">Save to your profile.</span>
                                    </label>
                                    <input class="form-check-input" type="checkbox" id="id-save-info" name="save-info" checked>
                                {% else %}
                                    <label for="id-save-info" class="form-check-label link-text">
                                        <a class="text-info m-1" href="{% url 'account_signup' %}">Make an account</a> or
                                        <a class="text-info m-1" href="{% url 'account_login' %}">login</a> to save info and checkout faster next time.
                                    </label>
                                {% endif %}
                            </div>                   
                        </fieldset>
                        <fieldset class="mb-3">
                            <!-- Payment details -->
                            <legend class="fieldset-label heading-font">Payment:</legend>
                            <div class="mb-2" id="card-element"></div>
                            <div class="mb-2" id="card-errors" role="alert"></div>
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>
                        <div class="submit-button text-right m-3 link-text">                    
                            <a href="{% url 'bag' %}" class="btn btn-dark m-2">
                                <span class="heading-font text-white"><i class="fa-solid fa-left-long"></i> Edit Bag</span>
                            </a>
                            <button id="submit-button" class="btn btn-success m-2 text-white">
                                <span class="heading-font text-white">Complete Purchase</span>
                                <span>
                                    <i class="text-white fa-regular fa-credit-card"></i>
                                </span>
                            </button>
                            <p class="small text-danger m-1">
                                <span>
                                    <i icon="fa-thin fa-circle-exclamation"></i>
                                </span>
                                <span class="paragraph-font mt-1">You'll be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>       
    </div>
    <div id="loading-overlay">
        <h1 class="logo-font loading-spinner">
            <span><i class="fas fa-3x fa-sync-alt fa-spin"></i></span>
        </h1>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <!-- Load local stylesheet -->
    <script type="text/javascript" src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}