{% extends "base.html" %}
{% load static %}
{% block extra_title %}
    Success: {{ order.order_number }}
{% endblock %}

{% block extra_css %}
    <!-- Local stylesheet for checkout app -->
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container page-header-container mb-5">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 page-heading text-center text-uppercase p-3">
                <h2 class="heading-font mb-3">Order Complete</h2>
                <h3 class="heading-font">Thank you, your details are below.</h3>
                <p class="paragraph-font">A confirmation email has been sent to {{ order.email }}.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row checkout-container">
        <!-- Order confirmation -->
        <div class="col-12 col-lg10 col-lg-6 offset-med-1 offset-lg-3">
            <h4 class="heading-font success-heading">Order Info:</h4>
            <div class="row mb-1">
                <div class="col-12 col-md-4 col-lg-5 heading-font mb-0">
                    <p class="mb-0">Order Number:</p>
                    <p class="mb-0">Order Date:</p>
                </div>
                <div class="col-12 col-md-8 col-lg-7 paragraph-font mb-0">
                    <p class="mb-0">{{ order.order_number }}</p>
                    <p class="mb-0">{{ order.date }}</p>
                </div>              
            </div>
            <!-- Loop through and display all items in the order -->
            {% for item in orderlineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-5 heading-font mb-0">
                        <p class="mb-0">{{ item.prints.name }}{% if item.prints_size %} - Size {{ item.prints.size|upper }}{% endif %}</p>
                    </div>
                    <div class="col-12 col-md-8 col-lg-7 paragraph-font mb-0">
                        <!-- Display price based on the size purchased -->
                        {% if item.size == 'a4' %}
                            <p class="mb-0">{{ item.quantity }} for £ {{ item.prints.a4.price }} each.</p>
                        {% else %}
                            <p class="mb-0">{{ item.quantity }} for £ {{ item.prints.a5.price }} each.</p>
                        {% endif %}
                    </div>           
                </div>
            {% endfor %}
            <div class="row mb-1">
                <!-- Display the customer's details -->
                <div class="col-12 success-heading">
                    <h4 class="heading-font">Order Details:</h4>
                </div>
                <div class="col-12 col-md-4 col-lg-5 heading-font mb-0">
                    <p class="mb-0">Name:</p>
                    <p class="mb-0">Number:</p>
                    <p class="mb-0">Email:</p>
                </div>
                <div class="col-12 col-md-8 col-lg-7 paragraph-font mb-0">
                    <p class="mb-0">{{ order.full_name }}</p>
                    <p class="mb-0">{{ order.phone_number }}</p>
                    <p class="mb-0">{{ order.email }}</p>
                </div>              
            </div>
            <div class="row mb-1">
                <!-- Display delivery details -->
                <div class="col-12 success-heading">
                    <h4 class="heading-font">Delivering To:</h4>
                </div>
                <div class="col-12 col-md-4 col-lg-5 heading-font mb-0">
                    <p class="mb-0">Address 1:</p>
                    {% if order.street_address2 %}
                        <p class="mb-0">Address 2:</p>
                    {% endif %}
                    <p class="mb-0">Town or City:</p>
                    <p class="mb-0">County:</p>
                    <p class="mb-0">Postcode:</p>
                    <p class="mb-0">Country:</p>
                </div>
                <div class="col-12 col-md-8 col-lg-7 paragraph-font mb-0">
                    <p class="mb-0">{{ order.street_address1 }}</p>
                    {% if order.street_address2 %}
                        <p class="mb-0">{{ order.street_address2 }}</p>
                    {% endif %}
                    <p class="mb-0">{{ order.city_or_town }}</p>
                    <p class="mb-0">{{ order.county }}</p>
                    <p class="mb-0">{{ order.postcode }}</p>
                    <p class="mb-0">{{ order.country }}</p>
                </div>              
            </div>
            <div class="row mb-1">
                <!-- Display payment details -->
                <div class="col-12 success-heading">
                    <h4 class="heading-font">Payment Info:</h4>
                </div>
                <div class="col-12 col-md-4 col-lg-5 heading-font mb-0">
                    <p class="mb-0">Sub-Total:</p>
                    <p class="mb-0">Delivery:</p>
                    <p class="mb-0">Total:</p>
                </div>
                <div class="col-12 col-md-8 col-lg-7 paragraph-font mb-0">
                    <p class="mb-0">{{ order.order_total }}</p>
                    <p class="mb-0">{{ order.delivery_cost }}</p>
                    <p class="mb-0">{{ order.grand_total }}</p>
                </div>              
            </div>
            <div class="row">
                <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-3 mt-1">
                    <!-- return to shop or profile -->
                    {% if from_profile %}
                        <a href="{% url 'profile' %}" class="btn btn-dark m-2 float-right">
                            <span>
                                <i class="fa-solid fa-user"></i>
                                Back to profile
                            </span>
                        </a>
                    {% else %}
                        <a href="{% url 'all_prints' %}" class="btn btn-dark m-2 float-right">
                            <span>
                                <i class="fa-solid fa-left-long"></i>
                                Back to all prints
                            </span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>      
    </div>
{% endblock %}