/* Margins and Paddings */

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: calc(100vh - 6rem);
    margin: 0;
    padding: 0;
}

tbody tr {
    vertical-align: sub;
}

.header-container {
    padding: 0 !important;
    text-align: center;
}

.page-heading {
    margin-top: 1.5rem
}

.page-heading h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

.page-heading h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

p {
    font-size: 1.2rem;
}

.main-container {
    padding: 2rem 0;
}

.page-header-container,
.homepage-carousel {
    padding-top: 6rem;
}

.print-info-container,
.project-table-container,
.btn-container,
.form-buttons {
    display: flex;
}

/* Colors */

.logo:hover {
    color: #000;
}

.project-link,
.project-link a {
    color: #264d00;
}

.icon-container li a:hover,
.project-link a:hover,
.nav-item li a:hover,
.btt-button:hover {
    color: #660000;
}

.social-links li a i:hover {
    color: #660000;
    background-color: #fff;
}

.social-links li a i {
    background-color: #660000;
    color: #fff;
}

/* Fonts - from Google Fonts */
h1 {
    font-weight: 900 !important;
}

.small-heading,
.card h5 {
    font-size: 0.9rem !important;
}

.heading-font {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    color: #000;
}

.paragraph-font {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #000;
    font-size: 1rem;
}



.link-text a {
    color: #000 !important;
}


/* Nav */


.nav-icons ul {
    margin: 0;
 }

.nav-icons {
    margin: 0;
    padding: 0;
    display: flex;
}

.icon-container {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.icon-container {
    display: inline-flex;
    padding-right: .5rem;
    padding-left: .5rem;
}

.icon-link-bag {
    color: rgba(0, 0, 0, .5);
    display: inline-flex;
    padding: .5rem 1rem;
    flex-direction: column;
    margin-top: 1.5rem;
}

.icon-link {
    color: rgba(0, 0, 0, .5);
    display: inline-flex;
    padding: .5rem 1rem;
}

.navbar {
    text-transform: uppercase;
    width: 100%;
    height: 6rem;
}

.nav-link {
    color: rgba(0, 0, 0, .5);
}

.navbar-nav li {
    letter-spacing: 0.1rem;
}

.logo h1,
.logo {
    text-decoration: none;
    color: #660000 !important;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-family: "Crimson Pro", serif;
    font-weight: 700 !important;
    font-style: normal;
}


.logo-container {
    width: fit-content;
}


.bag-total {
    font-size: 0.7rem !important;
}

/* Index */


/* About */

.about-heading {
    color: black;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}



/* From W3 Schools */
/* https://www.w3schools.com/howto/howto_css_dropdown.asp */
/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f8f9fa;
min-width: 15rem;
z-index: 400;
}

/* Links inside the dropdown */
.dropdown-content a {
color: #660000;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #fff;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #fff;}


/* Amdin pages */



/* scroll button */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 1rem;
}

.btt-link {
    cursor: pointer;
}

/* Project Galleries */

/* Create responsive image gallery */
/* https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.project-row {
display: -ms-flexbox; /* IE10 */
display: flex;
-ms-flex-wrap: wrap; /* IE10 */
flex-wrap: wrap;
padding: 0 0.5rem;
}
  
.project-column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

.project-column {
    padding: 0 0.5rem;
}
  
/* Project Admin */

.table-container {
    overflow: auto;
    width: 100%;
}

.category-table,
.project-table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table-container td,
.table-container th {
    padding: 5px;
}

/* Custome image file upload */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 6.5rem;
    right: 3rem;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 1rem;
}

.radio-selects {
    list-style-type: none !important;
}

.update-link,
.remove-link {
    cursor: pointer;
}

/* allauth */

.auth-container {
    margin-top: 10rem;
}

.auth-box {
    border: #264d00 2px solid;
    border-radius: 4px;
}

.auth-box,
.auth-row {
    display: flex;
    text-align: center;
}


.allauth-form-inner-content input {
    border-color: #264d00;
    border-radius: 4px;
    border-width: 2px;
}

/* Footer */

footer {
    height: 8vh;
    margin: 0;
    bottom: 0;
    width: 100%;
    z-index: 500;
}

.copyright,
.social-container {
    flex-direction: row;
    width: 100%;
}

.social-icon {
    display: flex;
}

.social-links {
    list-style-type: none;
    display: flex;

}

.social-links li {
    text-align: center;
    padding: 0.5rem;
    display: flex;
}

.social-links li a {
    text-decoration: none;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1.2rem;
    line-height: 6px;
    margin-bottom: 1rem;
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none;
}

/* Media Queries */

@media screen and (max-width: 576px) {
    .btn {
        transform: scale(0.7);
    }
}


@media screen and (max-width: 768px) {
    /* Nav */
    .nav-item {
        text-align: center;
    }
    .navbar {
        height: 0;
    }

    .navbar-collapse {
        position: fixed;
        left: 0%;
        width: 100vw;
    }

    /* .navbar-nav {
        /* Bootstrap color for light nav */
        /* background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
        width: 40%;
        float: right; */
    /* } */
    /* Project gallery - single column per row on smaller screens */
    .project-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .print-detail-image {
        display: flex;
        justify-content: center;
    }

    .page-header-container {
        margin-top: 3rem;
    }

    .btn {
        transform: scale(0.8);
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (min-width: 992px) {
    /* Project gallery - two columns per row on medium screens */
    .project-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    .page-header-container {
        margin-top: 3rem;
    }

    
}

@media screen and (min-width: 1200px) {
    /* Project gallery - three columns per row on xl screens */
    .project-column {
        -ms-flex: 33%; /* IE10 */
        flex: 33%;
        max-width: 33%;
    }
}
