

<div class="collapse navbar-collapse no-gutters navbar-light" id="main-nav">
  <ul class="navbar-nav heading-font uppercase w-auto mx-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle mr-5" href="#" id="portfolio-link" role="button" data-toggle="dropdown" aria-expanded="false">
        Portfolio
      </a>
      <div class="dropdown-menu" aria-labelledby="portfolio-link">
        <a class="dropdown-item" href="{% url 'wales' %}">Wales</a>
            <a class="dropdown-item" href="#">Discovery</a>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a class="dropdown-item" href="#">Project Admin</a>
                    <a class="dropdown-item" href="#">Photo Admin</a>
                {% endif %}
            {% endif %}
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle mr-5" href="#" id="shop-link" role="button" data-toggle="dropdown" aria-expanded="false">
        Shop
      </a>
      <div class="dropdown-menu" aria-labelledby="shop-link">
        <a class="dropdown-item" href="{% url 'all_prints' %}">Prints</a>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a class="dropdown-item" href="#">Manage Shop</a>
                {% endif %}
            {% endif %}
      </div>
    </li>
  </ul>
</div>
  



