<!-- Navbar collapses into burger menu for tablet and mobile -->
<div class="collapse navbar-collapse no-gutters bg-light navbar-light" id="main-nav">
  <ul class="navbar-nav heading-font uppercase w-auto mx-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="portfolio-link" role="button" data-toggle="dropdown" aria-expanded="false">
        Portfolio
      </a>
      <div class="dropdown-menu" aria-labelledby="portfolio-link">
        <a class="dropdown-item" href="{% url 'wales' %}">The Celtic Archipelago</a>
            <a class="dropdown-item" href="{% url 'discovery' %}">Discovery</a>
            <!-- Only give superusers access to admin pages -->
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a class="dropdown-item" href="{% url 'portfolio_admin' %}">Portfolio Admin</a>
                {% endif %}
            {% endif %}
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contact' %}">Contact</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="shop-link" role="button" data-toggle="dropdown" aria-expanded="false">
        Shop
      </a>
      <div class="dropdown-menu" aria-labelledby="shop-link">
        <a class="dropdown-item" href="{% url 'all_prints' %}">Prints</a>
        <!-- Only give superusers access to admin pages -->
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a class="dropdown-item" href="{% url 'shop_admin' %}">Manage Shop</a>
                {% endif %}
            {% endif %}
      </div>
    </li>
  </ul>
</div>