{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="m-3 heading-font">{% trans "Set Password" %}</h2>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set paragraph-font mb-2">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success m-2" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
