{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="justify-content-center align-items-center">
  <h2 class="m-3 heading-font">{% trans "Sign Up" %}</h2>
  <p class="mb-4 paragraph-font link-text">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>

<form class="signup paragraph-font mb-3 text-left" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="text-center">
    <button type="submit" class="btn btn-success m-2">{% trans "Sign Up" %} &raquo;</button>
  </div>
</form>

{% endblock %}
