{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_title %}
    Add Photo
{% endblock %}

{% block page_header %}
    <div class="container-fluid page-header-container mb-1">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading text-uppercase p-2">
                <h2 class="heading-font m-2">Project Maintenence</h2>
                <h3 class="heading-font">Add Photo</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-3">
            <form method="POST" action="{% url 'add_photo' %}" class="form project-form paragraph-font" id="add-project-form" enctype="multipart/form-data">
                {% csrf_token %}                
                {{ form|crispy }}
                <div class="justify-content-center form-buttons">
                    <a class="btn btn-danger m-2" href="{% url 'portfolio_admin' %}">Cancel</a>
                    <button class="btn btn-success m-2" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}