{% extends 'base.html' %}
{% load static %}
{% }

{% block page_header %}
    <div class="container page-header-container mb-5">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading p-3">
                <h2 class="heading-font">Project Maintenence</h2>
                <h3 class="heading-font">Add Project</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <form medthod="POST" action="{% url 'add_project' %}" class="form project-form">
                {% csrf_token %}                
                {{ form|crispy }}
                <button class="btn btn-danger mt-2 mr-2 float-center">Clear</button>
                <button class="btn btn-success mt-2 ml-2 float-center">Add</button>
            </form>
        </div>
    </div>


{% endblock %}