{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_title %}
    Photo Admin
{% endblock %}

{% block page_header %}
    <div class="container-fluid page-header-container mb-1">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading text-center text-uppercase p-2">
                <h2 class="heading-font m-2">Project Maintenence</h2>
                <h3 class="heading-font">Edit Photos</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 mb-5 justify-content-center btn-container">
            <a href="{% url 'add_project' %}" class="btn btn-warning m-2">Add Project</a>
            <a href="{% url 'add_photo' %}" class="btn btn-warning m-2">Add Photo</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 justify-content-center">
            {% for photo in photos %}

                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ photo.image_url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text">{{ photo.name }}</p>
                        <p class="card-text">{{ photo.friendly_name }}</p>
                        <a href="{% url 'edit_photo' photo.id %}" class="btn btn-success m-2">Edit</a>
                        <a href="{% url 'delete_photo' photo.id %}" class="btn btn-danger m-2">Delete</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}