{% extends 'base.html' %}
{% load static %}
{% block extra_title %}
    Discovery
{% endblock %}

{% block extra_css %}
<!-- Load local stylesheet -->
    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container-fluid page-header-container mb-1 text-center">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading text-uppercase p-2">
                <!-- Loop through project name and descriptions to display -->
                {% for project in projects %}
                    {% if project.name == 'Discovery' %}
                    <h2 class="heading-font mb-3">{{ project.name }}</h2>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 text-left">
                <p class="paragraph-font mb-2">
                    Discovery is a work in progress, exploring the route of 19th century American explorers Lewis
                     & Clark and the Corps of Discovery, who were the first recorded people to cross the North American
                      continent from the Mississippi River to the Pacific Ocean. This expedition, commissioned by then 
                      president Thomas Jefferson following the Louisiana Purchase, passed entirely through what was then entirely 
                      unexplored lands in the eyes of the young United States, being the lone homeland for generations to Indigenous 
                      Americans; the route passes now passes through ten US States. Through endless plains and mall parking lots, virgin 
                      forests and crowded bars, this little travelled route through the United States set in motion the cogs and wheels 
                      in the minds of its citizens that would turn their gaze forever westward, and their nation into what it is today. 
                      The Fur Trappers, the Oregon Trail, the Wild West, the Gold Rush, the Reservation System, the Railroad, Manifest 
                      Destiny, Murder, Genocide, the American Dream, this is where it all stems from, this is where a nation was created, 
                      a land tamed but untamed, united but divided.
                </p>

            </div>
        </div>
    </div>
    <div class="btt-button bg-light rounded border border-black">
        <a class="btt-link d-flex h-100 project-link">
            <i class="fa-solid fa-chevron-up mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid project-container">
    <div class="row project-row card-group" id="app">   
        <!-- Loop through and display all images with this name -->
        {% for photo in photos %}
            {% if photo.project.name == 'Discovery' %}
            <div class="col-12 col-md-6 col-lg-4 mt-2 mb-3 card-group">
                <div class="card">
                    <!-- From Fancybox -->
                    <a data-fancybox="gallery"
                        data-src="{{ photo.image.url }}"
                        data-caption="{{ photo.friendly_name }}">
                        <img src="{{ photo.image.url }}" class="card-img" alt="{{ photo.description }}">
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- Back to top button -->
    <div class="btt-button bg-light rounded border border-black">
        <a class="btt-link d-flex h-100 project-link">
            <i class="fa-solid fa-chevron-up mx-auto my-auto"></i>
        </a>	
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Load local JS -->
    <script type="text/javascript" src="{% static 'projects/js/projects.js' %}"></script>
{% endblock %}