{% extends 'base.html' %}
{% load static %}
{% block extra_title %}
    Discovery
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container-fluid page-header-container text-center mb-1">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading text-uppercase p-2">
                {% for project in projects %}
                    {% if project.name == 'Discovery' %}
                    <h2 class="heading-font mb-3">{{ project.name }}</h2>
                    <p class="paragraph-font mb-2">{{ project.description }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row project-row">
        {% for photo in photos %}
            {% if photo.project.name == 'Discovery' %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <!-- Trigger the Modal -->
                        {% if photo.image %}
                            <img id="myImg" src="{{ photo.image.url }}" alt="{{ photo.description }}">                                    
                        {% else %}
                            <img src="{{ MEDIA_URL }}noimage.webp" class="card-img" alt="{{ photo.description }}">
                        {% endif %}
                    </div>
                </div>
                <!-- Image gallery modal from W3schools: https://www.w3schools.com/howto/howto_css_modal_images.asp -->
                 <!-- The Modal -->
                 <div id="myModal" class="modal">

                    <!-- The Close Button -->
                    <span class="close">&times;</span>

                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01">

                    <!-- Modal Caption (Image Text) -->
                    <div id="caption">
                        <h3 class="heading-font">{{ photo.friendly_name }}</h3>
                        <a href="">
                            <h4 class="paragraph-font">Buy the print here</h4>
                        </a>
                    </div>
                </div>

            {% endif %}
        {% endfor %}

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }
    </script>

{% endblock  %}