{% extends 'base.html' %}
{% load static %}
{% block extra_title %}
    Wales
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container-fluid page-header-container text-center mb-1">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading text-uppercase p-2">
                {% for project in projects %}
                    {% if project.name == 'The Celtic Archipelago' %}
                    <h2 class="heading-font mb-3">{{ project.name }}</h2>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                {% for project in projects %}
                    {% if project.name == 'The Celtic Archipelago' %}
                        <p class="paragraph-font mb-2">{{ project.description }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row project-row card-group" id="app">   
        {% for photo in photos %}
            {% if photo.project.name == 'The Celtic Archipelago' %}
            <div class="col-12 col-md-6 col-lg-4 mt-2 mb-3 card-group">
                <div class="card">
                    <a data-fancybox="gallery"
                        data-src="{{ photo.image.url }}"
                        data-caption="{{ photo.friendly_name }}">
                        <img src="{{ photo.image.url }}" class="card-img">
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="btt-button bg-light rounded border border-black">
        <a class="btt-link d-flex h-100 project-link">
            <i class="fa-solid fa-chevron-up mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'projects/js/projects.js' %}"></script>
{% endblock %}