{% extends 'base.html' %}
{% load static %}
{% block extra_title %}
    404 Error
{% endblock %}

{% block page_header %}
    <div class="container-fluid page-header-container mb-1">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading text-uppercase p-2 text-center">
                <h2 class="heading-font m-2">Error</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-3 text-center">
            <!-- Delete confirmation page -->
            <h3 class="heading-font mb-3">404</h3>
            <p class="mb-5 paragraph-font m-1">Sorry, this page doesn't exist or has been moved.</p>
            <a class="project-link m-2" href="{% url 'home' %}">Return Home</a>
        </div>
    </div>
{% endblock %}