{% extends 'base.html' %}
{% load static %}
{% block extra_title %}
    {{ prints.friendly_name }}
{% endblock %}

{% block page_header %}
    <div class="container-fluid page-header-container mb-1">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading text-center text-uppercase p-2">
                <h2 class="heading-font mb-2">Shop</h2>
                <h3 class="heading-font">{{ prints.friendly_name }}</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            {% if request.user.is_superuser %}
            <div class="col-12 text-center link-text">
                <a href="{% url 'edit_print' prints.id %}" class="btn btn-success m-2">Edit</a>
                <a href="{% url 'delete_print' prints.id %}" class="btn btn-danger m-2">Delete</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row print-info-container">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
            <div class="col-10 col-sm-10 col-md-5 offset-1 offset-sm-1 offset-md-0 print-detail-image">
                {% if prints.image %}
                    <a href="{{ prints.image.url }}" target="_blank">
                        <img src="{{ prints.image.url }}" class="card-img" alt="{{ prints.description }}">
                    </a>
                {% else %}
                    <a href="">
                        <img src="{{ MEDIA_URL }}noimage.webp" class="card-img" alt="{{ prints.description }}">
                    </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-7 pl-2">
                <div class="row">
                    <div class="col-10 offset-1 mb-3">
                        <h4 class="heading-font">{{ prints.category }}</h4>
                        <p class="paragraph-font">{{ prints.description }}</p>
                    </div>
                    <div class="col-10 offset-1 mb-3">
                        <p>info about type of print and paper</p>
                    </div>
                    <div class="col-10 offset-1 mb-3">
                        <form class="form" action="{% url 'add_to_bag' prints.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12 mb-3">
                                    <div class="form-group mb-3">
                                        <h4 class="heading-font mb-2">Choose a Size to see the price:</h4>
                                        <select class="form-control rounded-0 w-50" name="selected_size" id='id_selected_size'>
                                            <option disabled selected value=""></option>
                                            <option value="a5">A5</option>
                                            <option value="a4">A4</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-3 text-center">    
                                        <!-- Use JQuery to display different price depending on selected size -->
                                        <h5 class="heading-font mr-5" id="price"></h5>                                 
                                    </div>
                                    <div class="form-group mt-3">
                                        <h5 class="heading-font mb-2">Quantity:</h5>
                                        <div class="input-group w-50">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-dark rounded-0" 
                                                    data-item_id="{{ prints.id }}" id="decrement-qty_{{ prints.id }}">
                                                    <span class="icon"><i class="fas fa-minus"></i></span>
                                                </button>
                                            </div>
                                            <input type="number" class="form-control qty_input"
                                                name="quantity" value="1" min="1" max="20"
                                                data-item_id="{{ prints.id }}" id="id_qty_{{ prints.id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-dark rounded-0" 
                                                    data-item_id="{{ prints.id }}" id="increment-qty_{{ prints.id }}">
                                                    <span class="icon"><i class="fas fa-plus"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <a href="{% url 'all_prints' %}" class="btn btn-secondary m-2">Back to Prints</a>
                                <input type="submit" class="btn btn-success m-2" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                    <div class="col-10 offset-1">
                        <h5 class="heading-font text-uppercase">Delivery</h5>
                        <p class="paragraph-font">
                            Delivery is free for all orders over £100. <br>
                            Orders under £100 will have a £4 delivery fee.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/quantity_input_script.html' %}
    <script type="text/javascript">
        $("#id_selected_size").change(function() {

            var val = $(this).val();
            if (val == 'a5') {
                $('#price').html('£80')
            } else if (val == 'a4') {
                $('#price').html('£120')
            } else {
                $('#price').html()
            }
        });
    </script>
{% endblock %}