{% extends 'base.html' %}
{% load static %}
{% block extra_title %}
    Prints
{% endblock %}

{% block page_header %}
    <div class="container-fluid page-header-container mb-1">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading text-center text-uppercase p-2">
                <h2 class="heading-font mb-2">Shop</h2>
                <h3 class="heading-font">Prints</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 offset-lg-1 heading-font text-center text-uppercase mb-3">
            <div class="row">

                <div class="col-12 col-lg-10 mb-3">
                    <h4 class="heading-font mb-2">Prints by Project</h4>
                    <p>Click the links below to choose a project to view.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-10 mb-3">
                    <ul class="list-unstyled list-inline d-flex justify-content-around">
                        <li class="list-inline-item">
                            <a href="{% url 'all_prints' %}?category=wales" class="project-link heading-font mb-2"><h5>Wales</h5></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="heading-font mb-2 project-link"><h5>Discovery</h5></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-10 offset-lg-1">
            {% for print in prints %}
                <div class="col-12 col-md-4 col-lg-3 justify-content-center">
                    <div class="card m-2 p-1 shop-thumbnail">
                        {% if print.image %}
                            <a href="{% url 'print_info' print.id %}">
                                <img src="{{ print.image.url }}" class="card-img" alt="{{ print.description }}">
                            </a>
                        {% else %}
                            <a href="{% url 'print_info' print.id %}">
                                <img src="{{ MEDIA_URL }}noimage.webp" class="card-img" alt="{{ print.description }}">
                            </a>
                        {% endif %}
                            <div class="card-body">
                                <h5 class="card-title heading-font">{{ print.friendly_name }}</h5>
                                <p class="card-text paragraph-font">From £{{ print.a5_price }}</p>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}