{% extends 'base.html' %}
{% load static %}


{% block page_header %}
    <div class="container page-header-container mb-2">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading text-center text-uppercase p-3">
                <h2 class="heading-font mb-3">Shop</h2>
                <h3 class="heading-font">Prints</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 offset-lg-1">
           
                <a href="#" class="heading-font text-uppercase"><h4></h4></a>
            
            {% for print in prints %}
                <div class="col-12 col-md-4 col-lg-3 justify-content-center">
                    <div class="card m-2 p-1 shop-thumbnail">
                        {% if print.image %}
                            <a href="{% url 'print_info' print.id %}">
                                <img src="{{ print.image.url }}" class="card-img" alt="{{ print.description }}">
                            </a>
                        {% else %}
                            <a href="{% url 'print_info' print.id %}">
                                <img src="{{ MEDIA_URL }}noimage.webp" class="card-img" alt="{{ print.description }}">
                            </a>
                        {% endif %}
                            <div class="card-body">
                                <h5 class="card-title heading-font">{{ print.friendly_name }}</h5>
                                <p class="card-text paragraph-font">£{{ print.price }}</p>
                                <p class="card-text paragraph-font"><small class="text-muted">{% for size in sizes %}{{ size }}{% endfor %}</small></p>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}