{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container-fluid page-header-container mb-1">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading text-center text-uppercase p-2">
                <h2 class="heading-font mb-2">Shop Admin</h2>
                <h3 class="heading-font">Edit Prints and Categories</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="flex-row justify-content-center">
    <div class="col-12 col-lg-10 offset-lg-1 heading-font text-center text-uppercase mb-3">

        <div class="flex-row mb-3">
            <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 mb-5 justify-content-center btn-container">
                <a href="{% url 'add_category' %}" class="btn btn-warning mt-2 mr-2">Add Category</a>
                <a href="{% url 'add_print' %}" class="btn btn-warning mt-2 mr-2">Add Print</a>
                <a href="{% url 'add_size' %}" class="btn btn-warning mt-2 mr-2">Add Print Size</a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 category-table-container table-responsive table-container justify-content-center">
                <table class="category-table">
                    <thead class="category-thead heading-font">
                        <tr>
                            <th>Category Name</th>
                            <th>Edit or Delete</th>
                        </tr>
                    </thead>
                    <tbody class="category-tbody paragraph-font">
                        {% for category in categories %}
                            <tr>
                                <td>                               
                                    {{ category.name }}
                                <td>
                                    <a href="{% url 'edit_category' category.id %}" class="btn btn-success m-2">Edit</a>
                                    <a href="{% url 'delete_category' category.id %}" class="btn btn-danger m-2">Delete</a>
                                    <!-- <button type="button" class="btn btn-danger mt-2 ml-2" data-toggle="modal" data-target="#deleteModal">
                                        Delete
                                    </button> -->
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="flex-row d-flex justify-content-around mb-3">
        <div class="col-12 col-lg-10 offset-lg-1">
            <ul class="list-unstyled text-uppercase list-inline d-flex justify-content-around">
                <li class="list-inline-item">
                    <a href="{% url 'shop_admin' %}?category=The Celtic Archipelago" class="project-link heading-font mb-2"><h5>The Celtic Archipelago</h5></a>
                </li>
                <li class="list-inline-item">
                    <a href="{% url 'shop_admin' %}?category=Discovery" class="heading-font mb-2 project-link"><h5>Discovery</h5></a>
                </li>
                <li class="list-inline-item">
                    <a href="{% url 'shop_admin' %}" class="project-link small-heading heading-font mb-2"><h5>Reset Filters</h5></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex-row d-flex justify-content-center">
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="flex-row card-group">
                {% for print in prints %}
                    <div class="col-12 col-md-4 col-lg-3 justify-content-center card-group">
                        <div class="card m-2 p-1 shop-thumbnail">
                            {% if print.image %}
                                <a href="{% url 'print_info' print.id %}">
                                    <img src="{{ print.image.url }}" class="card-img" alt="{{ print.description }}">
                                </a>
                            {% else %}
                                <a href="{% url 'print_info' print.id %}">
                                    <img src="{{ MEDIA_URL }}noimage.webp" class="card-img" alt="{{ print.description }}">
                                </a>
                            {% endif %}
                            <div class="card-body mb-2">
                                <p class="card-text paragraph-font mb-1 text-left"><small>{{ print.name }}: {{ print.friendly_name }}</small></p>
                                <p class="card-text paragraph-font mb-1 text-left"><small>{{ print.category.name }}</small></p>
                                <a href="{% url 'edit_print' print.id %}" class="btn btn-small btn-success m-1">Edit</a>
                                <a href="{% url 'delete_print' print.id %}" class="btn btn-small btn-danger m-1">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}