{% extends 'base.html' %}
{% load static %}


{% block page_header %}
    <div class="container page-header-container mb-5">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading text-center text-uppercase p-3">
                <h2 class="heading-font mb-3">Shop Admin</h2>
                <h3 class="heading-font">Prints</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 justify-content-center">
            
        </div>
    </div>
{% endblock %}