{% extends 'base.html' %}
{% load static %}
{% block extra_title %}
    About
{% endblock %}

{% block page_header %}
    <div class="container-fluid page-header-container mb-1">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 page-heading p-2">
                <h2 class="about-heading playfair-display-sc-black mb-2">Gwilym Llywelyn</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-5"></div>
        <div class="col-10 col-md-6">
            <div class="row">
                <div class="col-10">
                    <p class="paragraph-font">
                        Gwilym Llywelyn (b.1991) is a Welsh documentary photographer based in 
                        the UK. He holds a BA in Fine Art Photography from the University of 
                        Gloucestershire (2014) and an MA in Photography at the University of 
                        West England (2021-2022). The themes of his work explore the effects 
                        of historical imperialism and colonialism on modern communities and landscapes. 
                    </p>
                </div>
                <div class="col-10">
                    <h5 class="heading-font text-uppercase">Exhibitions</h5>
                    <p class="paragraph-font">
                        2022 - On Purpose, Serchia Gallery, Bristol<br>
                        2022 - Showcase, The Arnolfini Gallery, Bristol<br>
                        2020 - The Island of Dogs, Stiwdio3, Cardigan <br>
                        2014 - Exhibition One, Retina Photo, Centre Space Gallery, Bristol <br>
                        2014 - ESPY Photography Award, Elysium Gallery, Swansea <br>
                        2013 - Colony, Fforest, Cardigan <br>
                        2013 - Kingdom, Beechwood Shopping Centre, Cheltenham <br>
                        2013 - Nineteen, The Gardens Gallery, Cheltenham 
                    </p>
                </div>
                <div class="col-10">
                    <h5 class="heading-font text-uppercase">Articles</h5>
                    <p class="paragraph-font">
                        2015 - Trip Mag (online) <br>
                        2014 - Source Graduate Photography (online) 
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}